The goal of this notebook is to demonstrate how to load a grib file using xarray and then convert it into a pandas data frame

In [1]:
import numpy as np
import pandas as pd
import xarray as xr

In [ ]:
# Use xarray to load the file ../Data/3b47aa95fa8771c6da86f36140fda074/data.grib

# Specify the path to the GRIB file
grib_file_path = '../Data/3b47aa95fa8771c6da86f36140fda074/data.grib'

# Load the GRIB file using xarray with the cfgrib engine
dataset = xr.open_dataset(grib_file_path, engine='cfgrib')

/opt/anaconda3/envs/erdos_spring_2025/lib/python3.12/site-packages/cfgrib/xarray_plugin.py:131: FutureWarning: In a future version of xarray decode_timedelta will default to False rather than None. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(

In [4]:
#Convert dataset into a pandas dataframe
df = dataset.to_dataframe()

In [5]:
df.head(10)

                                               number  surface  \
time       step            latitude longitude
2015-12-31 0 days 01:00:00 49.0     -125.0          0      0.0
                                    -124.9          0      0.0
                                    -124.8          0      0.0
                                    -124.7          0      0.0
                                    -124.6          0      0.0
                                    -124.5          0      0.0
                                    -124.4          0      0.0
                                    -124.3          0      0.0
                                    -124.2          0      0.0
                                    -124.1          0      0.0

                                                       valid_time  t2m  sf  \
time       step            latitude longitude
2015-12-31 0 days 01:00:00 49.0     -125.0    2015-12-31 01:00:00  NaN NaN
                                    -124.9    2015-12-31 01:00:00  NaN NaN
                                    -124.8    2015-12-31 01:00:00  NaN NaN
                                    -124.7    2015-12-31 01:00:00  NaN NaN
                                    -124.6    2015-12-31 01:00:00  NaN NaN
                                    -124.5    2015-12-31 01:00:00  NaN NaN
                                    -124.4    2015-12-31 01:00:00  NaN NaN
                                    -124.3    2015-12-31 01:00:00  NaN NaN
                                    -124.2    2015-12-31 01:00:00  NaN NaN
                                    -124.1    2015-12-31 01:00:00  NaN NaN

                                               tp  lai_hv  lai_lv
time       step            latitude longitude
2015-12-31 0 days 01:00:00 49.0     -125.0    NaN     NaN     NaN
                                    -124.9    NaN     NaN     NaN
                                    -124.8    NaN     NaN     NaN
                                    -124.7    NaN     NaN     NaN
                                    -124.6    NaN     NaN     NaN
                                    -124.5    NaN     NaN     NaN
                                    -124.4    NaN     NaN     NaN
                                    -124.3    NaN     NaN     NaN
                                    -124.2    NaN     NaN     NaN
                                    -124.1    NaN     NaN     NaN